<h3><%= @artist.name %></h3>

<p><%= @artist.name %> will be performing at the <%= @stage.name %> on <%= @stage.date %></p>

<a href="LOTR_Fest/<%= @stage.id %>/<%= @artist.id %>/edit">Edit Artist Info</a>
